<%- include('./templates/cabecera') %>

    <div class="container is-fluid">

        <section
            class="section is-flex is-justify-content-center is-align-content-center is-align-items-center is-flex-direction-column">

            <h2 class="title is-1 has-text-primary mt-2 has-text-centered">Vista Detalle</h2>
            <!-- <a href="./clientes/crear" class="button is-medium is-success mb-2">Crear nuevo registro</a> -->
            <% if (error) { %>
                <p class="title is-3">
                    <%= mensaje %>
                </p>
                <a href="/clientes" class="button is-info">volver a clientes</a>
                <% } %>


                    <% if (!error) { %>

                        <form id="formularioEditar" data-id="<%= elemento.id %>">
                            <input type="text" class="input is-primary mt-2" name="nombre"
                                value="<%= elemento.nombre %>" id="nombreInput">
                            <input type="text" class="input is-primary mt-2" name="edat" id="edatInput"
                                value="<%= elemento.edat %>">
                            <button class="button is-warning mt-2" type="submit">editar</button>
                        </form>

                        <button class="button is-danger" id="btnEliminar" data-id="<%= elemento.id %>">Eliminar</button>

                        <% } %>






        </section>
    </div>
    <script>

        const btnEliminar = document.querySelector('#btnEliminar')
        btnEliminar.addEventListener('click', async () => {
            console.log('me diste click!!')
            const id = btnEliminar.dataset.id
            console.log(`id ==>> ${id}`)
            try {
                const data = await fetch(`/clientes/${id}`, {
                    method: 'delete'
                })
                const res = await data.json()
                if (res.estado) {
                    window.location.href = '/clientes'
                } else {
                    console.log(res)
                }
            } catch (error) {
                console.log(error)
            }
        })


        const formularioEditar = document.querySelector('#formularioEditar');
        formularioEditar.addEventListener('submit', async (e) => {
            e.preventDefault()
            console.log('submit')

            const nombre = formularioEditar.elements['nombre'].value;
            //Otra manera diferente de hacer lo mismo anterior
            const edat = document.querySelector('#edatInput').value;
            const id = formularioEditar.dataset.id

            console.log(nombre, edat, id)

            try {
                const data = await fetch(`/clientes/${id}`, {
                    method: 'put',
                    headers: {
                        'Content-Type': 'application/json'
                        // 'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: JSON.stringify({ nombre: nombre, edat: edat })
                })

                const res = await data.json()
                console.log(res)


                if (res.estado) {
                    window.location.href = '/clientes'
                } else {
                    console.log(res)
                }


            } catch (error) {
                console.log(error)
            }
        })


    </script>
    <%- include('./templates/footer') %>